{% extends "template.html" %}
{% import 'left_nav.html' as leftnav %}
{% block head %}
	<title>Catalog App</title>
{% endblock %}
{% block content %}
	{% include "header.html" %}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<table style="padding:0px;margin:0px;border:0px;">
				<tr>
					<td style="vertical-align: top;padding-right:10px;"><h3>Categories</h3></td>
					<td style="vertical-align: top;width:1px;"></td>
					<td style="vertical-align: top;padding-left:10px;"><h3>Latest items</h3></td>
				</tr>
				<tr>
					<td style="vertical-align: top;padding-right:10px;">
						{% if leftnav %}
							{{ leftnav.render_html(categories) }}
						{% endif %}
					</td>
					<td style="vertical-align: top;width:1px;background-color:#cccccc;"></td>
					<td style="vertical-align: top;padding-left:10px;">
						{% if login_session and 'username' in login_session and login_session['access_token'] %}
							<a href="{{ url_for('newItem')}}">Add Item</a><br>
							<br>
						{% endif %}
						<table style="padding:0px;margin:0px;border:0px;">
							{% for item in items %}
								<tr>
									<td>
									<a href="{{ url_for('viewLatestItems', category_name=item.categories.name, item_title=item.title) }}">{{item.title}}</a>
									<i>({{item.categories.name}})</i>
									</td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
	<br>
	<br>
{% endblock %}