{% extends "template.html" %}
{% import 'left_nav.html' as leftnav %}
{% block head %}
	<title>Delete Item</title>
{% endblock %}
{% block content %}
	{% include "header.html" %}

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<form method="POST" action="{{url_for('deleteItem', category_name=item.categories.name, item_title=item.title)}}">
				Are you sure you want to delete this item?

				<div><input type='submit' value='Yes'>
				&nbsp;<input type="button" value="Cancel"
				onclick="window.location='{{ url_for('showHomepage') }}'"></div>
			</form>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}