{% import '_header.html' as header %}
{% import '_footer.html' as footer %}
{% if header %}
	{{ header.render_header('Catalog App') }}
{% endif %}
<div id="header" style="display:none;">
	<section class="section">
		<div class="container">
			<h1>Catalog App</h1>
		</div>
	</section>
</div>
<div id="content">
	<section class="section">
		<div class="container">
			<table>
				<tr>
					<td style="padding:10px;margin:10px;border:0px;">
						<table style="padding:10px;margin:10px;border:0px;">
							<tr>
								<td><h3>Categories</h3></td>
							</tr>
							{% for cat in categories %}
								<tr>
									<td>{{cat.name}}</td>
								</tr>
							{% endfor %}
						</table>
					</td>
					<td style="padding:10px;margin:10px;border:0px;">
						<table style="padding:10px;margin:10px;border:0px;">
							<tr>
								<td><h3>Latest items</h3></td>
							</tr>
							{% for item in items %}
								<tr>
									<td>{{item.title}} <i>({{item.categories.name}})</i></td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>
{% if footer %}
	{{ footer.render_footer() }}
{% endif %}