{% import '_header.html' as header %}
{% import '_leftnavigation.html' as leftnav %}
{% import '_footer.html' as footer %}
{% if header %}
	{{ header.render_html('New Item') }}
{% endif %}
<div id="header">
	<section class="section">
		<div class="container">
			<ol class="breadcrumb">
				<li><a href="{{ url_for('showHomepage') }}">Home</a></li>
				<li class="active">New Item</li>
			</ol>
			<h1>New Item</h1>
		</div>
	</section>
</div>
<div id="content">
	<section class="section">
		<div class="container">
			<form method="POST" action="{{url_for('newItem')}}">
				{{ form.csrf_token }}
			    <dl>
				    <dt>{{ form.title.label }}</dt>
				    <dd>{{ form.title() }}</dd>
			    </dl>
			    {% if form.title.errors %}
				   <ul class="errors">{% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			    {% endif %}

			    <dl>
				    <dt>{{ form.description.label }}</dt>
				    <dd>{{ form.description() }}</dd>
			    </dl>
			    {% if form.description.errors %}
				   <ul class="errors">{% for error in form.description.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			    {% endif %}

			    <dl>
				    <dt>{{ form.category_id.label }}</dt>
				    <dd>{{ form.category_id() }}</dd>
			    </dl>
			    {% if form.category_id.errors %}
				   <ul class="errors">{% for error in form.category_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
			    {% endif %}

				<div><input type='submit' value='Create'>
				&nbsp;<input type="button" value="Cancel"
				onclick="window.location='{{ url_for('showHomepage') }}'"></div>
			</form>
		</div>
	</section>
</div>
{% if footer %}
	{{ footer.render_html() }}
{% endif %}