{% extends "template.html" %}
{% import 'left_nav.html' as leftnav %}
{% block head %}
	<title>{{item.title}}</title>
{% endblock %}
{% block content %}
	{% include "header.html" %}

	<div class="row menu">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<ol class="breadcrumb">
				<li><a href="{{ url_for('showHomepage') }}">Home</a></li>
				<li><a href="{{ url_for('viewCategoryItems', category_name=category.name) }}">{{category.name}}</a></li>
				<li class="active">{{item.title}}</li>
			</ol>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="banner menu col-md-1 padding-none"></div>
		<div class="banner menu col-md-9 padding-none">
			<h1>{{item.title}}</h1>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			{% if item.description %}
				<p><b>Description</b>: {{item.description}}</p>
			{% endif %}
			{% if 'username' in login_session and creator.id == login_session['user_id']: %}
				<a href="{{ url_for('editItem', category_name=category.name, item_title=item.title)}}">Edit</a> |
				<a href="{{ url_for('deleteItem', category_name=category.name, item_title=item.title)}}">Delete</a>
			{% endif %}
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}