{% import '_header.html' as header %}
{% import '_leftnavigation.html' as leftnav %}
{% import '_footer.html' as footer %}
{% if header %}
	{{ header.render_html(category.name) }}
{% endif %}
<div id="content">
	<section class="section">
		<div class="container">
			<table style="padding:0px;margin:0px;border:0px;">
				<tr>
					<td style="vertical-align: top;padding-right:10px;"><h3>Categories</h3></td>
					<td style="vertical-align: top;width:1px;"></td>
					<td style="vertical-align: top;padding-left:10px;"><h3>Latest items</h3></td>
				</tr>
				<tr>
					<td style="vertical-align: top;padding-right:10px;">
						{% if leftnav %}
							{{ leftnav.render_html(categories) }}
						{% endif %}
					</td>
					<td style="vertical-align: top;width:1px;background-color:#cccccc;"></td>
					<td style="vertical-align: top;padding-left:10px;">
						<b>{{category.name}} Items ({{items.count()}} items)</b><br>
						<br>
						<table style="padding:0px;margin:0px;border:0px;">
							{% for item in items %}
								<tr>
									<td><a href="{{ url_for('viewLatestItems', category_name=item.categories.name, item_title=item.title) }}">{{item.title}}</a></td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			</table>
		</div>
	</section>
</div>
{% if footer %}
	{{ footer.render_html() }}
{% endif %}