{% extends "template.html" %}
{% import 'left_nav.html' as leftnav %}
{% block head %}
	<title>{{category.name}}</title>
{% endblock %}
{% block content %}
	{% include "header.html" %}

	<div class="row menu">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<ol class="breadcrumb">
				<li><a href="{{ url_for('showHomepage') }}">Home</a></li>
				<li>{{category.name}}</li>
			</ol>
		</div>
		<div class="col-md-1"></div>
	</div>

	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">

			<table style="padding:0px;margin:0px;border:0px;">
				<tr>
					<td style="vertical-align: top;padding-right:10px;"><h3>Categories</h3></td>
					<td style="vertical-align: top;width:1px;"></td>
					<td style="vertical-align: top;padding-left:10px;"><h3>Latest items</h3></td>
				</tr>
				<tr>
					<td style="vertical-align: top;padding-right:10px;">
						{% if leftnav %}
							{{ leftnav.render_html(categories) }}
						{% endif %}
					</td>
					<td style="vertical-align: top;width:1px;background-color:#cccccc;"></td>
					<td style="vertical-align: top;padding-left:10px;">
						<b>{{category.name}} Items ({{items.count()}} items)</b><br>
						<br>
						<table style="padding:0px;margin:0px;border:0px;">
							{% for item in items %}
								<tr>
									<td><a href="{{ url_for('viewLatestItems', category_name=item.categories.name, item_title=item.title) }}">{{item.title}}</a></td>
								</tr>
							{% endfor %}
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-md-1"></div>
	</div>
{% endblock %}